[Unit]
Description=owncast
[Service]
Restart=always
User={{ owncast_user }}
Group={{ owncast_group }}
ExecStart={{ owncast_symlink }}/owncast
Type=simple
WorkingDirectory={{ owncast_symlink }}

[Install]
WantedBy=multi-user.target
